<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LiteDbExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="UpdateUrl" value="https://raw.githubusercontent.com/JosefNemec/LiteDbExplorer/master/web/update.json" />
    <add key="IssuesUrl" value="https://github.com/JosefNemec/LiteDbExplorer/issues" />
    <add key="ReleasesUrl" value="https://github.com/JosefNemec/LiteDbExplorer/releases" />
    <add key="HomepageUrl" value="https://github.com/JosefNemec/LiteDbExplorer" />
    <add key="PipeEndpoint" value="net.pipe://localhost/LiteDBExplorerPipe" />
  </appSettings>
  <userSettings>
    <LiteDbExplorer.Properties.Settings>
      <setting name="DefaultPassword" serializeAs="String">
        <value>password</value>
      </setting>
    </LiteDbExplorer.Properties.Settings>
  </userSettings>
</configuration>
